<footer>
    <p>
      <strong>POKEMON</strong><br />
      Gotta Catch 'Em All
    </p>
    <div class="social-icons">
      <a href="https://github.com/ArnejoKeinth" target="_blank" class="icon-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://facebook.com/synnkb" target="_blank" class="icon-link">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://instagram.com/synn_kb" target="_blank" class="icon-link">
        <i class="fab fa-instagram"></i>
      </a>
      <!-- Add other social media icons similarly -->
    </div>
    <p>
      &copy; 2023 Keinth. All Rights Reserved.
    </p>
</footer>
</body>
</html>